.ratings{
    font-size: 0.8rem;
}
.selected{
    background-color: #ffc107;
    color: #000;
}
.container{
	max-width: 1440px;
}
.filter-show{
    width: 170px;
	height: 40px;
}

.rating-full{
	color: #d58e32;
}
.rating-empty{
	color: #fff;
}

.search-zone{
	width: 50%;
}

.wishlist-btn::before{
	content: '♡';
}
.home-inputs{
	margin-left: -36px;
}

.cost-hidden{
	visibility: hidden;
}

.product-item{
	min-height: 1200px;
}
